:root {
  --interface-color: #c8c8c8;
  --main-color: #e6e6e6;
  --bg-task: #ffffff;
  --bg-active: #dfeafe;
  --font-color: #000000;
  --error-message: #ff7878;
  --input-border: #000;
  --card-color: #808080;
  --font-complete: #808080;
  --font-important: #ff5900;
  --font-info: #4747ff;
}

.dark:root {

}

.deepDark:root {

}

.lightGreen:root {

}

.blue:root {

}