:root {
  --interface-color: #c8c8c8;
  --main-color: #e6e6e6;
  --bg-task: #ffffff;
  --bg-active: #dfeafe;
  --font-color: #000000;
  --error-message: #ff7878;
}

.dark:root {

}

.deepDark:root {

}

.lightGreen:root {

}

.blue:root {

}