html, body {
    overflow-y: hidden !important;
}

main {
  height: 82vh;
  & .container {
    height: 100%;
  }
}

.active {
  background: var(--bg-active)!important;
}

.dark {
  & .list > * {
      color: var(--font-color);
    }
  & .active {
      color: var(--font-active) !important;
    & div.name {
       & span {
        color: var(--font-active) !important;
      }
    }
  }
}

.important {
  border: 2px var(--font-important) dashed;
  & .aim {
    color: var(--font-important);
  }
}

.complete {
  & .aim {
    color: var(--font-complete);
    text-decoration: line-through;
  }
}

.up {
  border-radius: 15px 15px 0px 0px;
}

.down {
  border-radius: 0px 0px 15px 15px;
}

/* #A */

aside.asidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  gap: 20px;
  height: 100%;
  padding: 0px 10px;
  border-right: 1px #9e9e9e solid;

  & h2 {
    font-weight: 400;
    color: var(--card-color)
  }

  & .list {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background: var(--bg-task);
    border-radius: 15px;

    & hr {
    margin-left: 46px;
    margin-right: 28px;
    border-top: 2px var(--hr-color) solid;
    border-bottom: none;
    }

    & button.active {
      &:hover {
        opacity: 1;
      }
    }

    & button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      font-size: 18px;
      padding: 10px;
      background: var(--bg-task);
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      & .name {
        display: flex;
        gap: 10px;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        & span {
        color: var(--font-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }

        & img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

/* #L */

section.todo-list {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0px 10px;
  gap: 15px;
  border-right: 1px #9e9e9e solid;
  max-width: 400px;

  & button.create-menu {
    position: absolute;
    bottom: 11vh;
    right: 51%;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: none;
    background: var(--bg-task);
    background-image: url(../../public/assets/icon/crew.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      opacity: 0.65;
    }
  }

  & button.title {
    border: none;
    background: none;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px 0px 3px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  & .default__task {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  & .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 15px;
    background: var(--bg-task);
    min-height: 55px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    & div.name {
      align-items: center;
      display: flex;
      gap: 15px;
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;


      & .object {
        width: 4px;
        background: gray;
        border-radius: 15px;
        min-height: 40px;
      }

      & .aim {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    & .checkbox {
      display: flex;
      width: fit-content;
      height: auto;
      justify-content: center;
      align-items: center;
    }
  }
}

/* #Q */

section.qustions {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;

  & button.arrow-back {
    display: none;
    position: absolute;
    top: 11vh;
    transform: translateX(20%);
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    & img {
      transform: rotate(90deg);
      width: 32px;
      height: 32px;
    }
  }

  & span, input {
    font-weight: 500;
    font-size: 18px;
    color: var(--font-color);
  }

  & span.role {
    font-size: 16px;
    font-weight: 300;
    color: var(--font-complete);
  }

  & div.aim {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    background: var(--bg-task);
    padding: 15px 10px;
    border-radius: 10px;

    & .checkbox {
      display: flex;
      width: fit-content;
      height: auto;
      justify-content: center;
      align-items: center;
    }

    & .title-task {
      width: 100%;
      border: none;
      padding: 0px 5px;
      background: none;
    }
  }

  & button.priority {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border: none;
    background: var(--bg-task);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    & .intro {
      display: flex;
      align-items: center;
      gap: 10px;

      & img {
        width: 24px;
        height: 24px;
      }
    }
  }

  & div.date {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 15px 10px;
    background: var(--bg-task);
    border-radius: 10px;

    & span {
      cursor: pointer;
      color: var(--font-info);

      &:hover {
        opacity: 0.8;
      }
    }

    & img {
      width: 24px;
      height: 24px;
    }
  }

  & button.category {
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    border: none;
    background: var(--bg-task);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    & div {
      display: flex;
      align-items: center;
      gap: 10px;

      & img {
        width: 24px;
        height: 24px;
      }
    }
  }

  & div.discribe {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    border-radius: 10px;
    background: var(--bg-task);
    gap: 10px;

    & .desc {
      border: none;
      padding: 5px 0px;
      font-size: 18px;
      background: none;
    }

    & hr {
      border-top: 2px var(--hr-color) solid;
      border-bottom: none;
    }

    & .uploader {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      & input[type="file"] {
      display: none;
      }

      & label {
        font-size: 16px;
        color: var(--font-info);
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  & .group-button {
    position: absolute;
    bottom: 11vh;
    right: 50%;
    transform: translateX(150%);
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;

    & button {
      border: none;
      background: none;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 3px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      & img {
        width: 32px;
        height: 32px;
      }

      & span {
        font-size: 12px;
      }
    }
  }
}

/*
  #Size
    1040px
    768px
*/

/* Default */

.search-btn {
  display: none !important;
}

.filter {
  display: none !important;
}

/* #Media */

@media screen and (max-width: 1040px) {
  .asidebar {
    display: none !important;
  }

  section.todo-list {
    width: 35%;
  }

  section.qustions {
    width: 65%;
  }

  .filter {
    display: flex !important;
  }

  button.create-menu  {
    right: 66% !important;
  }

  .group-button {
    width: 35% !important;
    right: 65% !important;
  }
}

@media screen and (max-width: 768px) {
  section.qustions {
    display: none;
  }

  .arrow-back {
    display: block !important;
  }

  .container {
    justify-content: center;
  }

  .group-button {
    width: 50% !important;
    right: 100% !important;
  }

  section.qustions {
    width: 95%;
  }

  button.create-menu {
    right: 1% !important;
  }

  section.todo-list {
    border-right: none;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .search-form {
    display: none;
  }

  .search-btn {
    display: flex !important;
  }

  button.create-menu {
    right: 3% !important;
  }
}

@media screen and (max-height: 450px) {
  main {
    height: 76vh;
  }

  section.todo-list {
    justify-content: flex-start;
    padding: 10px;
    overflow-y: scroll
  }

  section.qustions {
    padding: 10px;
    justify-content: flex-start;
    overflow-y: scroll
  }

  .group-button {
    position: relative !important;
    bottom: 0 !important;
    right: 20% !important;
    width: 35% !important;
  }
}
